body{
    min-height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("./2107.w026.n002.637B.p1.637.jpg");
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    font-family: 'Satisfy', cursive; 
    background-size:cover;
    background-repeat: no-repeat;
    backdrop-filter:unset;
}

.q-wrap{
    background-color: rgb(8, 21, 28);
    border-radius: 25px;
    padding: 4rem 1.5rem;
    opacity: 0.9;
    box-shadow: 0px 2px 15px -5px rgba((0), 0, 0, 1);
    border: 3px solid #b33771;
    color: rgb(255, 255, 255);

}

.q-wrap h2{
    font-size: medium;
    margin-bottom: 0.5rem;
    opacity: 1;
}

.q-wrap small{
    font-weight: 700;
    padding: 0.2rem 1rem;
    color: var(--dark-blue);
    border-radius: 5px;
    
}
.q-wrap blockquote{
    padding: 1.5rem 0;
    font-weight: 300;
}

.q-wrap circle{
    display: block;
    font-style: normal;
    margin-bottom: 1rem;
}

#next-quote{
    width:200px;
    height:70px;
    background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
    border-style: none;
    color:#fff;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    border-radius: 10px;

}
